*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif
} 
 
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/back2.jpg );
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

#custom{
    font-size: 13px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    /* margin-top: -55px; */
    border: 1px solid teal;
}

.organogram{
    opacity: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    border-radius: 70px;
    animation: slide 2s linear backwards;
}

footer{
    width: auto;
    height: auto; 
    color: slateblue;
    opacity: 85%;
    background: rgb(7, 31, 33);
}

.copyright{
    color: black;
}

footer:hover{
    opacity: 100%;
    transition: 1s;
    color: red;
    background-color: wheat;
}

#custom{
    font-size: 13px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border: 1px solid teal;
}

.userpro{
    width: 35px;
    margin-top: 20px;
    margin-left: 0px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
}

.nav-bottom{
    background: rgb(7, 31, 33);
    border-radius: 0px;
    opacity: 80%;
  
  }

nav .logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
}

nav .logo img{
    width: 90px;
    margin-right: 10px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #ffff;
    font-weight: 500;
    padding: 5px 20 px;
    text-transform: uppercase;
    font-family: 'poppins'
}

nav:hover{
    background: rgb(9, 32, 34); 
    border-radius: 50px;
    opacity: 80%;

}

nav:hover .logo{
    color: #ffff;
    opacity: 100%;


}

nav:hover ul li a{
    /* background: #0d0d0d; */
    color: #ffff;
    opacity: 100%;
}

p{
    color: #ffff;
}
#headTitle{
    text-align: center;
    color: azure;
    font-size: xx-large;
    margin-top: 10px;
}

.purpose{
    background-color: rgb(11, 58, 97);
    opacity: 80%;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 600px;
    margin-bottom: 5%;
    border-radius: 20px;
    padding-left: 10px;
    animation: slide 2s linear forwards;
}
@keyframes slide{
    0% {
        transform: translate(100px);
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
#purposeTitle{
    font-size: x-large;
    margin-left: 10px;
    border-radius: 40px;
    margin-bottom: 10px;

}

.vision{
    background-color: rgb(11, 58, 97);
    opacity: 80%;
    margin-left: 600px;
    margin-right: 10px;
    margin-bottom: 5%;
    padding-left: 10px;
    border-radius: 20px;
    animation: slide 2s linear backwards;
}

#visionTitle{
    font-size: x-large;
    margin-left: 10px;
    margin-bottom: 10px;

}
.mission{
    background-color: rgb(11, 58, 97);
    opacity: 70%;
    margin-left: 10px;
    margin-right: 600px;
    margin-bottom: 5%;
    border-radius: 20px;
    padding-left: 10px;
    animation: slide 2s linear forwards;
}

#missionTitle{
    font-size: x-large;
    margin-left: 10px;
    margin-bottom: 10px;

}

.teammembers{
    background-color: rgb(11, 58, 97);
    opacity: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 5%;
    border-radius: 20px;
    padding-left: 10px;
    animation: slide 2s linear backwards;
    
}

#teamTitle{
    font-size: x-large;
    margin-left: 10px;
    margin-bottom: 10px;

}